<div class="about__wrapper">
  <div class="container">
    <h1 class="about__title theme-color">Group Members</h1>

    <div class="work-list">
      <div class="work">
        <img src="/assets/images/jayProfilePic.jpg">
        <div class="layer">
          <div>Jay Joshi</div>
          <div>Student Id:- 301318520</div>
        </div>
      </div>

      <div class="work">
        <img src="/assets/images/inderjitProfilePic.jpg">
        <div class="layer">
          <div>Inderjit Singh Bedi</div>
          <div>Student ID: 301313264</div>
        </div>
      </div>

      <div class="work">
        <img src="/assets/images/khanjanProfilePic.jpg">
        <div class="layer">
          <div>Khanjan Dave</div>
          <div>Student ID: 301307330</div>
        </div>
      </div>

      <div class="work">
        <img src="/assets/images/rohitProfilePic.jpg">
        <div class="layer">
          <div>Rohit</div>
          <div>Student ID: 301315173</div>
        </div>
      </div>

      <div class="work">
        <img src="/assets/images/khairProfilePic.jpg">
        <div class="layer">
          <div>Khair Alla Alsarhan</div>
          <div>Student ID: 301319966</div>
        </div>
      </div>

      <div class="work">
        <img src="/assets/images/mahfuzurProfilePic.jpg">
        <div class="layer">
          <div>Mahfuzur Rahman</div>
          <div>Student ID: 301336576</div>
        </div>
      </div>

      <div class="work">
        <img src="/assets/images/triProfilePic.jpg">
        <div class="layer">
          <div>Minh Tri Le</div>
          <div>Student ID: 301323963</div>
        </div>
      </div>
    </div>
  </div>
</div>
