<div id="projects">
    <div class="container">
        <h1 class="sub-title">Group Members</h1>


        <!-- List all the projects which I have done -->


        <div class="work-list">
            <div class="work">
                <img src="images/jay.jpg">
                <div class="layer">
                    <h3>Jay Joshi</h3>
                    <h4>Student Id:- 301318520</h4>
                    
                </div>
            </div>

            <div class="work">
                <img src="images/inderjit.png">
                <div class="layer">
                    <h3>Inderjit Singh Bedi</h3>
                    <h4>Student Id:- 301313264</h4>
                </div>
            </div>

            <div class="work">
                <img src="images/khanjanpic.png">
                <div class="layer">
                    <h3>Khanjan Dave</h3>
                    <h4>Student Id:- 301307330</h4>>
                </div>
            </div>
        </div>
        <div class="work-list1">
            <div class="work">
                <img src="images/rohit.jpg">
                <div class="layer">
                    <h3>Rohit</h3>
                    <h4>Student Id:- 301315173</h4>
                </div>
            </div>

            <div class="work">
                <img src="images/Khair.jpg">
                <div class="layer">
                    <h3>Khair Alla Alsarhan</h3>
                    <h4>Student Id:- 301319966 </h4>
                </div>
            </div>

            <div class="work">
                <img src="images/Mahfuzur.jpeg">
                <div class="layer">
                    <h3>Mahfuzur Rahman</h3>
                    <h4>Student Id:- 301336576</h4>
                </div>
            </div>
        </div>
        <div class="work-list1">
            <div class="work">
                <img src="images/tri.jpg">
                <div class="layer">
                    <h3>Minh Tri Le</h3>
                    <h4>Student Id:- 301323963</h4>
                </div>
            </div>

            <div class="work">
                <!-- <img > -->
                <!-- <div class="layer"> -->
                    <!-- <h3>Freedom Logistics</h3> -->
                    <!-- <p>This application will manage all the inventory, user can track the invetory and check the status of the inventory.</p> -->
                <!-- </div> -->
            </div>

            <div class="work">
                <!-- <img src="images/bmmishops.png">
                <div class="layer">
                    <h3>BMMI Shops</h3>
                    <p>BMMI Shops is a market place application where user can purchage the liquor with discounts .</p>
                </div> -->
            </div>
        </div>
    </div>
</div>