<div class="app-home-page__wrapper">
  <main class="container app-home-page__main">
    <div class="header-text">
      <h1>
        <span>Unemployment</span>
        <br><span>Survey App</span>
      </h1>
      <h2>
        To understand the reasons why individuals are unemployed,
        <br>such as job loss, lack of available positions,
        <br>or educational or skills barriers,
        <br>in order to develop targeted solutions and support programs.
      </h2>
    </div>
    <img ngSrc="/assets/images/customer-survey.jpg" class="app-home-page__main-image" height="16" width="16">
  </main>
</div>
