<div id="header">

    <main class = "container">
        <div class="header-text">
            <h1>
                Hello, this is <br><span>Unemployment</span> <br><span>Survey</span>
            </h1>
            <h6>To understand the reasons why individuals are unemployed, 
            <br>such as job loss, lack of available positions, 
            <br>or educational or skills barriers, 
            <br>in order to develop targeted solutions and support programs.</h6>
        </div>
          
    </main>
</div>